/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  padding: 0;
}

.content {
  padding: 10px;
  margin: 0 auto;
}

button.e-button-floating {
  position: absolute;
  right: 15px;
  bottom: -25px;
}
.mat-header-row, .mat-row:last-child {
  border-bottom-width: 0;
}
.mat-header-row, .mat-row {
  padding-right: 5px !important;
}
.actions {
  width: 90px !important;
}
